<div class="menu">
  <div class="menu-item">
    <p class="par">V@LgB!OR</p>
    <p class="par">ex`glXYg</p>
    <p class="par">lKR,gC30</p>
    <p class="par">k=#:sw&G</p>
    <p class="par">oM%YWo/9</p>
    <p class="par">mb*YBLWr</p>
    <p class="par">m&}f.q(&</p>
    <p class="par">e1JjFrSv</p>
    <p class="par">nNH8g8+f</p>
    <p class="par">tG?)V%d0</p>
    <p class="par">ij8B1]#n</p>
    <p class="par">leSf%CS></p>
    <p class="par">:UE*)LBc</p>
    <p class="elem">navn.org</p>
  </div>
</div>