@import url("https://fonts.googleapis.com/css?family=Fira+Mono:400");

* {
  margin: 0;
  padding: 0;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  .menu-item {
    margin: 10px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    width: 85px;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      position: absolute;
      opacity: 0;
      transition: all 0.2s linear;
      color: #fff;
    }

    .elem {
      opacity: 1;
      transition: all 0.2s linear;
    }

      @for $i from 1 through 13 {
        .par:nth-child(#{$i}) {
          animation-delay: $i * 0.12s;
        }
      }
      .par {
        animation: opacPar 0.2s linear;
      }
      .elem {
        animation: opacElem 1.68s linear forwards;
      } 

    @keyframes opacPar {
      0% {
        opacity: 0;
        transform: scale(1);
      }
      50% {
        opacity: 1;
        transform: scale(1);
      }
      100% {
        opacity: 0;
        transform: scale(1);
      }
    }

    @keyframes opacElem {
      0% {
        opacity: 1;
      }
      10% {
        opacity: 0;
      }
      95% {
        opacity: 0;
      }
      99% {
        opacity: 0;
      }
      100% {
        opacity: 1;
        
      }
    }
  }
}